.calculator {
  border: 1px solid rgb(216, 216, 216);
}

.calculator,
.calculator button {
  font-family: Montserrat, sans-serif;
}

.calculator button {
  font-size: 1.5rem;
  background-color: #365;
  color: #fff;
  transition: background-color .2s;
}

.calculator button:hover,
.calculator button:focus {
  background-color: #254;
}

.container-outer {
  width: 30rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "result result"
    "numbers operations";
}

.result {
  grid-area: result;
  text-align: right;
  padding: .5rem 1rem;
  background-color: #adc;
  border: 1px solid rgb(216, 216, 216);
  color: #365;
}

.result p {
  margin: 0;
}

.result strong {
  font-size: 1.5rem;
  color: #143;
}

.container-numbers {
  background-color: #ccc;
  grid-area: numbers;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
  "a b c"
  "d e f"
  "g h i"
  "j k l";
}

.zero {
  grid-area: k;
}

button.clear {
  grid-area: l;
  background-color: #953;
}

button.clear:hover,
button.clear:focus {
  background-color: #842;
}

.container-operations {
  grid-area: operations;
  display: flex;
  flex-direction: column;
}

.container-operations button {
  background-color: #356;
}

.container-operations button:hover,
.container-operations button:focus {
  background-color: #245;
}

.calculator button:active {
  background-color: #653;
}